.about {
  padding-top: 12px;
  padding-bottom: 120px;
  background-color: var(--light-color);

  &__descr {
    margin: 0;
    margin-bottom: 60px;
    max-width: 890px;
    font-weight: 400;
    font-size: 30px;
    line-height: 160%;
    color: var(--dark-color);
  }

  &__descr-bold {
    font-weight: 600;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
  }

  &__item {
    grid-column: 3 span;

    &-count {
      font-weight: 600;
      font-size: 70px;
      line-height: 160%;
      color: var(--accept-color);
    }

    &-text {
      margin: 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      color: $font-color;
    }
  }
}
