.hero {
  min-height: 800px;
  padding-top: 160px;
  background-color: var(--dark-color);

  &__container {
    @include flex-v-center
  }

  &__content {
    max-width: 516px;
  }

  &__image {
    transform: translateX(167px);
  }

  &__title {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 70px;
    line-height: 160%;
    text-transform: uppercase;
    color: var(--light-color);
  }

  &__text {
    display: block;
    max-width: 478px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: var(--light-color);
    text-transform: initial;
  }

  // &__link {  }
}
