// .nav {}

.nav__list {
  @include flex-v-center;
}

.nav__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: var(--light-color);
}
