.slider-trainers {
  @include flex-all-center;

  &__btn {
    width: 34px;
    height: 34px;
    position: relative;
    border-radius: 50%;
    background-color: #141024;

    &--prev {

      &::before,
      &::after {
        display: block;
        position: absolute;
        content: '';
        width: 2px;
        height: 10px;
        top: 50%;
        left: 50%;
        background-color: var(--light-color);
      }

      &::before {
        top: calc(50% - 3px);
        transform: translateY(-50%) rotate(45deg);
      }

      &::after {
        top: calc(50% + 3px);
        transform: translateY(-50%) rotate(-45deg);
      }
    }

    &--next {

      &::before,
      &::after {
        display: block;
        position: absolute;
        content: '';
        width: 2px;
        height: 10px;
        top: 50%;
        left: 50%;
        background-color: var(--light-color);
      }

      &::before {
        top: calc(50% - 3px);
        transform: translateY(-50%) rotate(-45deg);
      }

      &::after {
        top: calc(50% + 3px);
        transform: translateY(-50%) rotate(45deg);
      }
    }

    &:not(:last-child) {
      margin-right: 16px;
    }

    &:hover {
      background-color: #230B34;
    }

    &:focus {
      outline: none;
      background-color: #230B34;
    }
  }
}
