<section class="features">
  <div class="container">
    <h2 class="features__title section-title">Что вы получите после курса</h2>
    <ul class="features__list list-reset">
      <li class="features__item">
        <h3 class="features__item-title">Удостоверение</h3>
        <p class="features__item-text">Дающее право преподавать робототехнику для детей 6-12 лет в образовательных
          учреждениях</p>
      </li>
      <li class="features__item">
        <h3 class="features__item-title">Знания</h3>
        <p class="features__item-text">По основам разработки учебно-методических комплексов
          по робототехнике и программированию</p>
      </li>
      <li class="features__item">
        <h3 class="features__item-title">Практику
          <span class="tooltip">
            <button class="btn-reset tooltip__btn" aria-describedby="features-tooltip"></button>
            <span class="tooltip__txt" role="tooltip" id="features-tooltip">
              <span class="visually-hidden">Тултип: </span>
              При наличии свободных мест
            </span>
          </span>
        </h3>
        <p class="features__item-text">Возможность пройти практику по преподаванию робототехники на базе R:ED LAB (в
          оффлайн или онлайн формате)</p>
      </li>
    </ul>
  </div>
</section>
