<section class="hero">
  <div class="container hero__container">
    <div class="hero-content">
      <h1 class="hero__title">Robo School<span class="hero__text">Курсы повышения квалификации по робототехнике для
          педагогов начальной школы</span></h1><a class="hero__link btn btn-reset" href="#tariffs"
        data-scroll>Записаться на
        курс</a>
    </div>
    <div class="hero__image">
      <picture>
        <source srcset="img/hero-bg.webp" type="image/webp">
        <img loading="lazy" src="img/hero-bg.png" class="image" width="783" height="917" alt="Robo School">
      </picture>
    </div>
  </div>
</section>
