<section class="tariffs" id="tariffs">
  <div class="container">
    <h2 class="tariffs__title section-title">Выберите нужный пакет</h2>
    <ul class="list-reset tariffs__list">
      <li class="tariffs__item tariffs__item--active">
        <h3 class="tariffs__item-title">– PRO –</h3>
        <b class="tariffs__item-price">20.000 ₽</b>
        <p class="tariffs__item-descr">УМК по робототетхнике и программированию</p>
        <button class="btn btn-reset tariffs__item-btn">Оставить заявку</button>
      </li>
      <li class="tariffs__item">
        <h3 class="tariffs__item-title">– ROBO –</h3>
        <b class="tariffs__item-price">15.000 ₽</b>
        <p class="tariffs__item-descr">УМК по робототетхнике</p>
        <button class="btn btn-reset tariffs__item-btn">Оставить
          заявку</button>
      </li>
      <li class="tariffs__item">
        <h3 class="tariffs__item-title">– PROG –</h3>
        <b class="tariffs__item-price">10.000 ₽</b>
        <p class="tariffs__item-descr">УМК по программированию</p>
        <button class="btn btn-reset tariffs__item-btn">Оставить
          заявку</button>
      </li>
    </ul>
  </div>
</section>
