<section class="trainers" id="trainers">
  <div class="container">
    <h2 class="trainers__title section-title">Профессиональные тренеры</h2>
  </div>
  <div class="trainers__wrapper">
    <div class="swiper trainers__content">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="trainers__card">
            <picture>
              <source srcset="img/trainer-1.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-1.jpg" class="trainers__image" width="360" height="500"
                alt="Ирина Лайм">
            </picture>
            <h3 class="trainers__card-title">Ирина Лайм</h3>
            <p class="trainers__card-descr">преподаватель по робототехнике</p>
            <button class="btn-reset traners__card-btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__card">
            <picture>
              <source srcset="img/trainer-2.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-2.jpg" class="trainers__image" width="360" height="500"
                alt="Марина Орлова">
            </picture>
            <h3 class="trainers__card-title">Марина Орлова</h3>
            <p class="trainers__card-descr">преподаватель по робототехнике</p>
            <button class="btn-reset traners__card-btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__card">
            <picture>
              <source srcset="img/trainer-3.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-3.jpg" class="trainers__image" width="360" height="500"
                alt="Максим Петров">
            </picture>
            <h3 class="trainers__card-title">Максим Петров</h3>
            <p class="trainers__card-descr">преподаватель по программированию</p>
            <button class="btn-reset traners__card-btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__card">
            <picture>
              <source srcset="img/trainer-4.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-4.jpg" class="trainers__image" width="360" height="500"
                alt="Константин Назаров">
            </picture>
            <h3 class="trainers__card-title">Константин Назаров</h3>
            <p class="trainers__card-descr">преподаватель по робототехнике</p>
            <button class="btn-reset traners__card-btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__card">
            <picture>
              <source srcset="img/trainer-5.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-5.jpg" class="trainers__image" width="360" height="500"
                alt="Лиза Весенняя">
            </picture>
            <h3 class="trainers__card-title">Лиза Весенняя</h3>
            <p class="trainers__card-descr">преподаватель по программированию</p>
            <button class="btn-reset traners__card-btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="trainers__nav">
      <div class="trainers__scroll swiper-scrollbar"></div>
      <div class="trainers__btns-group slider-trainers">
        <button class="btn-reset slider-trainers__btn slider-trainers__btn--prev"
          aria-label="перейти к предыдущему слайду"></button>
        <button class="btn-reset slider-trainers__btn slider-trainers__btn--next"
          aria-label="перейти к следующему слайду"></button>
      </div>
    </div>
  </div>

</section>
